*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Practicamente ayuda a que el padding o margin formen parte del tamaño total del elemento */
}
html, body{
  background-color: #050a30;
}


.logo-contenedor{
  width: 100%;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  width: 225px;
}

.App{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-family: Lato, sans-serif;
}

/* @media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
 */
/* @keyframes App-logo-spin {
  from {
    transform:scale(0.9);
  }
  to {
    transform: scale(1);
  } 
}*/
